@CHARSET "ISO-8859-1";

input[type="text"], input[type="email"], input[type="number"]{
	width : 200px;
}

input.ng-invalid.ng-touched {
  border: 1px solid #DA3637;
}

input.ng-valid.ng-touched {
  border: 1px solid #509D12;
}

.ng-invalid .btn {
	background: gray;
}

.invalid-error {
	color : #AA3377;
	margin-left: 10px;
}