<div align="center">
	<h2>User table</h2>
	search by : <input type="text" ng-model="myFilter">
</div><br>
<table class="table table-hover">
    <thead>
      <tr>
        <th>User No</th>
        <th>Name</th>
        <th>Age</th>
        <th>Address</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat = "user in users | filter : myFilter">
        <td>{{user.id}}</td>
        <td>{{user.name}}</td>
        <td>{{user.age}}</td>
        <td>{{user.address}}</td>
        <th><button class="btn btn-warning" data="{{ user.id }}" ng-click="deleteStudent(user.id)">delete</button>
      </tr>
    </tbody>
  </table>
